<custom-modal #menuModal id="menu">
  <p-accordion [activeIndex]="index">
    <p-accordionTab header="Salads">
      <div class="menu-element">Salads...</div>
    </p-accordionTab>
    <p-accordionTab header="Pasta">
      <div class="menu-element"> Pasta...</div>
      <div class="menu-element"> Pasta...</div>
      <div class="menu-element"> Pasta...</div>
    </p-accordionTab>
    <p-accordionTab header="Pizza" class="tab-with-submenu">
      <p-accordion [activeIndex]="subIndex">
        <p-accordionTab header="Bacon">
          <div class="menu-element"> Bacon...</div>
        </p-accordionTab>
        <p-accordionTab header="Ham">
          <div class="menu-element"> Ham...</div>
          <div class="menu-element"> Hamon!</div>
        </p-accordionTab>
        <p-accordionTab header="Pineapple?">
          <div class="menu-element">Pineapple?...</div>
        </p-accordionTab>
      </p-accordion>
    </p-accordionTab>
  </p-accordion>
</custom-modal>
