<custom-modal #menuModal id="menu">
  <p-panelMenu [model]="items"></p-panelMenu>

  <!--Old menu-->
  <!--<p-accordion [activeIndex]="index">-->
    <!--<p-accordionTab header="Home">-->
    <!--</p-accordionTab>-->
    <!--<p-accordionTab header="Place">-->
      <!--<div class="menu-element">Hotel</div>-->
      <!--<div class="menu-element">How to arrive</div>-->
      <!--<div class="menu-element">Touristic info</div>-->
    <!--</p-accordionTab>-->
    <!--<p-accordionTab header="THE PLAN" class="tab-with-submenu">-->
      <!--<p-accordion [activeIndex]="subIndex">-->
          <!--<div class="menu-element"> Bacon...</div>-->
        <!--<div class="menu-element">Pineapple?...</div>-->
        <!--<p-accordionTab header="Art">-->
          <!--<div class="menu-element"> Ham...</div>-->
          <!--<div class="menu-element"> Hamon!</div>-->
        <!--</p-accordionTab>-->
      <!--</p-accordion>-->
    <!--</p-accordionTab>-->
  <!--</p-accordion>-->
</custom-modal>
