.main-parallax {
  background-image: url('../assets/bg.jpg');
  background-size: 100%;
  height: 100%;
  width: 100%;

  .main-block {
    background: #a1312b;
    padding: 20px 0;
    >div {
      max-width: 900px;
      margin-left:auto;
      margin-right:auto;
    }
    .text-block {
      text-align: center;
      font-size: 24px;
    }
    img{
      padding: 20px 0;
    }
  }

  .main-title{
    display:flex;
    align-items:center;
    background: transparent;
    height: 100vh;
    h1{
      margin: 0;
      padding-bottom: 20px;
    }
  }

  .main-empty-block {
    height: 300px;
    background: transparent;
  }

  .main-footer {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      img {
        height: 40%;
        width: 20%;
        padding: 0;
      }

  }
}
