div{
  background: #a1312b;
  border-radius: 10px;
  display: inline-block;
  position: fixed;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  padding: 0 5px;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
}
