.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;

  .custom-modal-body {
    max-width: 500px;
    padding: 20px;
    background: #fff;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

.custom-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.50;
  z-index: 900;
}

body.custom-modal-open {
  overflow: hidden; //Hide scroll bar (?)
}
